/* 기본 */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GanaChocolate';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'GyeongbokgungSumunjangTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-3@1.0/Sumunjang_TitleL.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}


body {
  margin: 0;
  background: #fff;
  color: #000;
  font-family: Pretendard, system-ui, sans-serif;
}

/* 전체 */
.container {
  width: 100vw;
  height: 100vh;
  padding: clamp(16px, 2vw, 40px);
  overflow: hidden;
}

/* 타이틀 */
.title {
  font-family: 'GanaChocolate', serif;
  text-align: center;
  font-size: clamp(28px, 3.5vw, 56px);
  letter-spacing: 0.25em;
  margin-bottom: clamp(2px, 2vh, 2px);
}

/* ============================= */
/* 핵심: 4섹션 고정 */
/* ============================= */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 항상 4개 */
  gap: clamp(16px, 2vw, 32px);
  height: calc(80% - clamp(80px, 15vh, 110px));
}

/* 카테고리 */
.category {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* 카테고리 제목 */
.category h2 {
  font-family: 'GanaChocolate', serif;
  font-size: clamp(20px, 2.2vw, 44px);
  margin-bottom: clamp(10px, 1.5vh, 18px);
  padding-bottom: 6px;
  border-bottom: 2px solid #000;
}

/* 메뉴 아이템 */
.item {
  font-family: 'GyeongbokgungSumunjangTitle';
  font-weight: bold;
  display: flex;              /* 핵심 */
  position: relative; /* 기준점 */
  align-items: center;
  font-size: clamp(15px, 1.6vw, 28px);
  padding: clamp(6px, 0.8vh, 10px) 0;
  line-height: 1.2;
  cursor: pointer;
}


.badge-caffeine {
  position: absolute;
  top: -0.5em;
  right: 10em;  /* 살짝 안쪽 */
  font-size: 0.55em;
  letter-spacing: 0.05em;
  opacity: 0.7;
  white-space: nowrap;
}
/* 가격 */
.price {
  font-family: 'GyeongbokgungSumunjangTitle';
  margin-left: auto;          /* 오른쪽 밀착 */
  text-align: right;
  font-size: 0.85em;
  opacity: 0.7;
  padding-left: 12px;
  white-space: nowrap;
}

.ice-only {
  color: rgb(83, 152, 255);
  margin-left: 6px;
  font-size: 0.7em;
  letter-spacing: 0.08em;
}


/* 빈칸용 */
.category.nothing {
  visibility: hidden;
}

/* ============================= */
/* 이미지 프리뷰 */
/* ============================= */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(255,255,255,0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.preview-image {
  max-width: 60vw;
  max-height: 70vh;
  width: 40%;
}
